.center {
  text-align: center;
}

h1 {
  font-family: cursive;
  text-align: center;
}

h3 {
  /* background-color: #7bd3d3; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
}

.container {
  background-color: #99ffff;
  margin-top: 15px;
  margin-left: 75px;
  margin-right: 75px;
  width: 400;
  padding: 20px;
  border-radius: 4%;
}

body {
  /*background-image: url(/images/IMG_6139.webp);
  background-size: contain;
  background-repeat: no-repeat;
  */
  margin: 0px;
}

.headbar {
  background-color: #da7422;
  padding: 25px;
  text-align: center;
  font-family: cursive;
}

.relative {
  position: relative;
  padding: 10px;
  width: 200px;
  background-color: #0eb1d2;
  left: 20px;
  top: 10px;
}

.absolute {
  position: absolute;
  padding: 10px;
  width: 200px;
  background-color: #d61313;
  right: 50px;
}

.fixed {
  position: fixed;
  padding: 10px;
  width: 250px;
  background-color: yellow;
  right: 20px;
  top: 250px;
}

#greenbox {
  position: relative;
  width: 300px;
  height: 300px;
  left: 300px;
  background-color: rgb(0, 192, 0);
}

footer {
  position: relative;
  left: 0px;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: #adadad;
  padding: 20px;
}

@media (max-width: 332px) {
  .headbar {
    font-size: 1.2rem;
  }
}
