.center {
  text-align: center;
}

h1 {
  font-family: cursive;
  text-align: center;
}

.container {
  background-color: lightblue;
}


.headbar {
  background-color: rgb(253, 207, 0);
  padding-bottom: 25px;
  text-align: center; 
}
#sidebar {
  width: 125px;
  height: 150px;
}


footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: slategrey;
  padding: 20px;
}

@media only screen and (max-width: 100px) {
  .headbar {
    padding-bottom: 40px;
    font-size: 150%;
  }
}
