.center {
  text-align: center;
}

footer {
  background-color: slategray;
  text-align: center;
  padding: 10px;
}

.container {
  background-color: lightblue;
}

.headbar {
  background-color: rgb(253, 207, 0);
  padding-bottom: 25px;
  box-shadow: 20px;
  text-align: center; 
}
#sidebar {
  width: 125px;
  height: 150px;
}