.center {
  text-align: center;
}

h1 {
  font-family: cursive;
  text-align: center;
}

h3 {
  /* background-color: #7bd3d3; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
}

.container {
  background-color: #0eb1d2;
}

body {
  background-image: url(/images/IMG_6139.webp);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0px;
}

.headbar {
  background-color: #da7422;
  padding: 25px;
  text-align: center;
}

#sidebar {
  width: 200px;
  height: 400px;
  padding: 10px;
}

#introduction {
  position: absolute;
  top: 136px;
  right: 10px;
  background-color: #99e8f8;
  width: 140px;
}

#pfp {
  margin: 7px;
}

#intro-text {
  margin: 5px;
}

#sidebarheader {
  background-color: #0c8aa3;
}

footer {
  left: 0px;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: #adadad;
  padding: 10px;
}

@media (max-width: 400px) {
  .headbar {
    font-size: 1.2rem;
  }
}
